<a href="https://colab.research.google.com/github/anjalimaheshwari/nets213final/blob/main/simple_aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("aggregation_sample_input.csv")

In [ ]:
df_mean = df.groupby(["model"], as_index=False)["rating"].mean()

In [ ]:
df_ranked = df_mean.sort_values('rating', ascending=False)

       model  rating
1  model_two       4
0  model_one       3

In [ ]:
df_ranked.to_csv('sample_ranked_models.csv')